body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif !important;
}

.btn {
    border-width: 2px;
}

.form-control {
    border-width: 2px;
}

.header-carousel-item {
    height: 450px;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
}

.bg-layer {
    background-color: rgba(0, 0, 0, 0.4);
}

.bg-mask {
    opacity: 0.5;
}

.bg-transparent {
    opacity: 0.4;
}

@media (min-width: 992px) {
    .bg-transparent {
        opacity: 1.0;
    }
}