doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title 六角西餐廳
    meta(name='description', content='美食的集散地，心境的烏托邦')
    meta(neme='keyword', content='六角, 西餐, 咖啡, 品酒, 閱讀空間')
    meta(property='og:title', content='六角西餐廳')
    meta(property='og:description', content='美食的集散地，心境的烏托邦')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.hex-restaurant.com/')
    meta(property='og:image', content='./img/header_mobile.png')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:url', content='http://www.hex-restaurant.com/')
    meta(name='twitter:title', content='六角西餐廳')
    meta(name='twitter:description', content='美食的集散地，心境的烏托邦')
    meta(name='twitter:image', content='./img/header_mobile.png')
    link(rel='shortcut icon', href='./img/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='./css/all.css')
  body
    .bg-secondary.py-1
      .container.d-flex.justify-content-end
        a.d-inline-block.mr-2.text-white(href='#')
          i.fa.fa-twitter
        a.d-inline-block.text-white(href='#')
          i.fa.fa-facebook-square
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container
        a.navbar-brand(href='#')
          img.d-flex(src='./img/logo_w.svg', width='120', height='24', alt='六角西餐廳')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown')
          span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link.active(href='#') 首頁
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(data-toggle='dropdown', href='#') 美味菜單
              .dropdown-menu
                a.dropdown-item(href='#') 文青小確幸
                a.dropdown-item(href='#') 甜甜少女心
                a.dropdown-item(href='#') 超級大胃王
                a.dropdown-item(href='#') 豐熟蔬果盛
          form.form-inline.my-2.my-lg-0
            a.btn.btn-outline-warning.mr-2(href='#', data-toggle='modal', data-target='#loginModal') 登入
            a.btn.btn-warning(href='#', data-toggle='modal', data-target='#registerModal') 註冊
    header
      #carouselBinding.carousel.slide(data-ride='carousel', data-interval='5000')
        ol.carousel-indicators
          li.active(data-target='#carouselBinding', data-slide-to='0')
          li(data-target='#carouselBinding', data-slide-to='1')
          li(data-target='#carouselBinding', data-slide-to='2')
          li(data-target='#carouselBinding', data-slide-to='3')
        .carousel-inner
          .carousel-item.header-carousel-item.bg-cover.active(style='background-image: url(./img/food1.jpeg)')
            .carousel-caption.d-none.d-md-block.px-3
              h3 異國風韻
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, eligendi!
          .carousel-item.header-carousel-item.bg-cover(style='background-image: url(./img/food7.jpeg)')
            .carousel-caption.d-none.d-md-block.px-3
              h3 大快朵頤
              p
                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit iste neque laborum expedita iure
                | omnis eum doloribus ipsum earum enim.
          .carousel-item.header-carousel-item.bg-cover(style='background-image: url(./img/food5.jpeg)')
            .carousel-caption.d-none.d-md-block.px-3
              h3 繽紛野蔬
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium porro fugit ex velit temporibus
                | id.
          .carousel-item.header-carousel-item.bg-cover(style='background-image: url(./img/food4.jpeg)')
            .carousel-caption.d-none.d-md-block.px-3
              h3 甜言蜜語
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora totam unde voluptas? Sint pariatur
                | unde nobis sunt asperiores. Commodi a libero odio, ut expedita perferendis velit! Animi nobis
                | quia aliquid ea numquam voluptatem, eum omnis quisquam quae molestiae dolorem possimus quaerat
                | excepturi aut, placeat, error culpa consectetur nostrum? Accusantium, fugit?
        a.carousel-control-prev(href='#carouselBinding', role='button', data-slide='prev')
          span.carousel-control-prev-icon
        a.carousel-control-next(href='#carouselBinding', role='button', data-slide='next')
          span.carousel-control-next-icon
    section.bg-secondary.py-5.text-white
      .container
        .row
          .col-lg-4.mb-lg-0.mb-5
            .mb-2.text-dark
              i.fa.fa-cutlery.fa-4x
            h3 吃吃。
            p
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus voluptatem minus aliquid labore necessitatibus
              | enim eius perferendis laborum et? Porro possimus adipisci repellendus obcaecati inventore a autem
              | nobis consectetur culpa vero, fuga tempora odio magnam velit asperiores nam soluta sint?
          .col-lg-4.mb-lg-0.mb-5
            .mb-2.text-dark
              i.fa.fa-users.fa-4x
            h3 聊聊。
            p
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus voluptatem minus aliquid labore necessitatibus
              | enim eius perferendis laborum et? Porro possimus adipisci repellendus obcaecati inventore a autem
              | nobis consectetur culpa vero, fuga tempora odio magnam velit asperiores nam soluta sint?
          .col-lg-4
            .mb-2.text-dark
              i.fa.fa-coffee.fa-4x
            h3 想想。
            p
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus voluptatem minus aliquid labore necessitatibus
              | enim eius perferendis laborum et? Porro possimus adipisci repellendus obcaecati inventore a autem
              | nobis consectetur culpa vero, fuga tempora odio magnam velit asperiores nam soluta sint?
    section.container-fluid.bg-light.text-dark(style='position: relative;')
      .row
        .col-lg-5.bg-cover.bg-transparent(style='background-image: url(./img/food2.jpeg); position: absolute; top: 0; bottom: 0;')
      .container
        .row.justify-content-end.py-5
          .col-lg-7
            h3 層次，讓美食昇華
            p
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium accusamus molestias eum iusto ex
              | nesciunt, culpa, obcaecati autem quae alias necessitatibus impedit provident aut perferendis eos.
              | Debitis atque facere itaque.
            a.btn.btn-warning(href='#') 查看更多
            .row.mt-5
              .col-md-6
                h3 食材的選擇
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab distinctio illo sapiente, temporibus
                  | harum tempore repellat nulla pariatur sed repellendus.
              .col-md-6
                h3 香料魔法
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab distinctio illo sapiente, temporibus
                  | harum tempore repellat nulla pariatur sed repellendus.
    section.py-5
      .container
        h2.text-center.mb-5.text-secondary 堅持，自成一格
        .row
          .col-lg-6
            .d-flex.flex-column.flex-sm-row
              .col-sm-2.text-center.text-sm-left.my-sm-0.my-3.text-danger
                i.fa.fa-book.fa-3x
              .col-sm-10
                h3 黃金，唾手可得
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus quia fuga maxime excepturi. Voluptatibus,
                  | ratione!
          .col-lg-6
            .d-flex.flex-column.flex-sm-row
              .col-sm-2.text-center.text-sm-left.my-sm-0.my-3.text-danger
                i.fa.fa-birthday-cake.fa-3x
              .col-sm-10
                h3 今天，你最珍貴
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi doloribus velit maxime, repudiandae
                  | fuga in accusantium vitae totam provident praesentium quibusdam beatae, soluta tempore aut.
                  | Optio adipisci possimus officia aut!
        .row.mt-0.mt-lg-3
          .col-lg-6
            .d-flex.flex-column.flex-sm-row
              .col-sm-2.text-center.text-sm-left.my-sm-0.my-3.text-danger
                i.fa.fa-music.fa-3x
              .col-sm-10
                h3 蕭邦，咫尺天涯
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid maiores iusto obcaecati aspernatur
                  | soluta, quis at asperiores, deserunt fuga culpa qui ipsum ullam eius saepe?
          .col-lg-6
            .d-flex.flex-column.flex-sm-row
              .col-sm-2.text-center.text-sm-left.my-sm-0.my-3.text-danger
                i.fa.fa-film.fa-3x
              .col-sm-10
                h3 投影，歷歷足跡
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, aliquam.
    section.container-fluid.bg-dark.text-light(style='position: relative;')
      .row.flex-row-reverse
        .col-lg-4.bg-cover.bg-transparent(style='background-image: url(./img/food8.jpeg); position: absolute; top: 0; bottom: 0;')
      .container
        .row.py-5
          .col-lg-8
            h3 撥慢指針的香醇
            p.text-secondary
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto fuga at officia amet nisi explicabo!
            dl.row
              dt.col-sm-3.text-warning.mb-0.mb-sm-4 Life
              dd.col-sm-9.mb-4.mb-sm-0
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, explicabo.
              dt.col-sm-3.text-warning.mb-0.mb-sm-4 Love
              dd.col-sm-9.mb-4.mb-sm-0
                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur adipisci beatae odio.
              dt.col-sm-3.text-warning.mb-0.mb-sm-4 Wealth,well...
              dd.col-sm-9.mb-4.mb-sm-0 Lorem ipsum dolor, sit amet consectetur adipisicing.
              dt.col-sm-3.text-warning.mb-0.mb-sm-4 Happiness
              dd.col-sm-9.mb-4.mb-sm-0
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt nihil eaque repudiandae vel reiciendis
                | nostrum.
    section.py-5.bg-light
      .container
        .row
          .col-lg-6
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.7375037885326!2d121.54091041548631!3d24.975044046805163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346801f12db0b28d%3A0xb7597fa67d269a6b!2z5LiD5by156uZ!5e0!3m2!1szh-TW!2stw!4v1513579396763', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
          .col-lg-6.mt-5.mt-lg-0
            form#needs-validation(novalidate='')
              .form-group
                label(for='username') 姓名*
                input#username.form-control(type='text', placeholder='王大明', required='')
                .invalid-feedback
                  | 請輸入姓名
              .form-group
                label(for='tel') 電話*
                input#tel.form-control(type='tel', placeholder='0912-345-678', required='')
                .invalid-feedback
                  | 請輸入電話
              .form-group
                label(for='email') E-mail*
                input#email.form-control(type='email', placeholder='Helloworld@gmail.com', required='')
                .invalid-feedback
                  | 請輸入 E-mail
              .form-group
                label(for='number') 人數*
                input#number.form-control(type='number', value='2', required='')
                .invalid-feedback
                  | 請輸入人數
              .custom-controls-stacked
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-indicator
                  span.custom-control-description
                    | 需要素食
                    input.form-control.d-inline.p-0.pl-2(type='number', style='width: 50px')
                    |  人
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-indicator
                  span.custom-control-description
                    | 需要嬰兒座椅
                    input.form-control.d-inline.p-0.pl-2(type='number', style='width: 50px')
                    |  人
              .text-center.text-sm-right.mt-4.mt-sm-0
                button.btn.btn-outline-secondary.mr-2(type='button') 取消
                button.btn.btn-warning(type='submit') 送出
    section.container-fluid(style='position: relative;')
      .row
        .col-lg-6.bg-cover(style='background-image: url(./img/join.jpeg); position: absolute; top: 0; bottom: 0;')
      .row.justify-content-end
        .col-lg-6.bg-cover(style='background-image: url(./img/wine.jpg); position: absolute; top: 0; bottom: 0;')
      .container-fluid.p-5.text-white
        .row.justify-content-around
          .col-lg-4.bg-layer.p-5
            small 招兵買馬
            h3 沒有你，我們做不到
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni at saepe quod ipsum omnis. Accusantium
              | iusto quae unde cumque recusandae, voluptas consequatur ipsam, ea delectus debitis blanditiis error
              | sapiente nemo.
            a.btn.btn-outline-warning(href='#') 加入我們
          .col-lg-4.bg-layer.p-5
            small 佳釀雅宴
            h3 青春的微醺，用美酒記惦
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni at saepe quod ipsum omnis. Accusantium
              | iusto quae unde cumque recusandae, voluptas consequatur ipsam, ea delectus debitis blanditiis error
              | sapiente nemo.
            a.btn.btn-outline-warning(href='#') 參加辦法
    footer.container-fluid.bg-light
      .container
        p.py-4.mb-0
          | © Copright 2017 六角學院
          a.ml-2(href='#') GitHub
          a.ml-2(href='#') Facebook
          a.ml-2(href='#') About
    // Modal
    #loginModal.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.bg-primary.text-white
            h5.modal-title 登入
            button.close(type='button', data-dismiss='modal')
              span ×
          .modal-body
            form
              .form-group
                label(for='loginEmail') 帳號
                input#loginEmail.form-control(type='email', placeholder='12345678@gmail.com')
              .form-group
                label(for='loginEmail') 密碼
                input#loginPassword.form-control(type='password')
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox', value='')
                  |  記住密碼
          .modal-footer
            a.mr-auto(href='#', data-dismiss='modal', data-toggle='modal', data-target='#registerModal') 還沒有註冊嗎?
            button.btn.btn-outline-secondary(type='button', data-dismiss='modal') 取消
            button.btn.btn-primary(type='submit') 登入
    #registerModal.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header.bg-warning
            h5.modal-title 註冊
            button.close(type='button', data-dismiss='modal')
              span ×
          .modal-body
            .container
              .row
                .col-6
                  h2 註冊注意事項
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum similique ratione nobis excepturi officia possimus velit sed? Facilis, iusto ipsa.
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod voluptatibus cupiditate alias labore. Vitae molestias sunt assumenda, blanditiis facere omnis iusto adipisci porro, neque illum reprehenderit facilis nostrum et possimus.
                .col-6
                  form
                    .form-group
                      label(for='registerEmail') 帳號
                      input#registerEmail.form-control(type='email', placeholder='12345678@gmail.com')
                      small 請輸入您的 E-mail
                    .form-group
                      label(for='registerPassword') 密碼
                      input#registerPassword.form-control(type='password')
                      small 請輸入8個位數以上的英數符號
                    .form-group
                      label(for='checkPassword') 確認密碼
                      input#checkPassword.form-control(type='password')
                    .form-check
                      label.form-check-label
                        input.form-check-input(type='checkbox', value='')
                        |  同意條款
          .modal-footer
            a.mr-auto(href='#', data-dismiss='modal', data-toggle='modal', data-target='#loginModal') 已經有帳號了?
            button.btn.btn-outline-secondary(type='button', data-dismiss='modal') 取消
            button.btn.btn-warning(type='submit') 註冊
    script(src='./js/vendors.js')
    script(src='./js/all.js')
    
    
